@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Gloria+Hallelujah&family=Rampart+One&display=swap');
*{
    z-index: 1000;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
}

html {
  overflow-x: hidden;
    background-color: greenyellow;
}

#background_svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

body {
    /* background-image: url(/images/background-01.svg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    min-height: 100vh;
}
#landing_page{
    /* background-color: grey; */
}

#intro{
    height: 30vw;
    /* background-color: rgb(175, 175, 175); */
}

header {
    margin-top: 0;
    display: block;  
    height: 100px;
    width: 100vw;
    max-width: 100%;
    position: sticky;
    top: 0;
   /*  opacity: 70%; */
    z-index: 2000;
      
}


nav {
    
    padding: 10px;
    background-image: url("Path\ 16.png");
    overflow: visible;
    background-size: contain;
    background-origin: border-box 20px;
    background-repeat: no-repeat;
    font-family: 'Gloria Hallelujah', cursive; 
    display: block; 
    height: 100vw;
    width: 100%;
   
    
    
}

nav a:link{
        text-decoration: none;    
}

h1 {
    font-family: 'Rampart One', cursive;
    font-size: 5vw;
    color: rgb(124, 228, 68)
}

h2 {
    font-family: 'Fira Sans', sans-serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
#projects {
    gap: 10vw;
    width: 100%;
}

#group_projects, #projects_by_me{
    display: grid;
grid-template-columns: 2fr 2fr;
grid-gap: 2vw;
margin-bottom: 2vw;
}

#projects img {
width: 100%;
}

#group_projects > *, #projects_by_me > * {

    
    height: 100%;
    background-color: greenyellow;
}

#about > *{
    margin-bottom: 10px;
}

#social_medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    height: 10vw;
    width: 20vw;
    overflow: hidden;
}
